@import '~timcowebapps/common.utils/src/unit/converters';
@import '~timcowebapps/common.ooscss/src/methodology/bem/index';
@import '~timcowebapps/common.smascss.styles/src/modules/components/typography/text/text-truncate';

@import './../../../../entry-vars';

.tablewidget-scrollable {
	position: relative;
	height: 480px;

	@include element((), 'header') {
		// Empty
	}

	@include element((), 'content') {
		border-bottom: 2px solid #333;
		width: 100%;
		height: calc(480px - 40px/* thead height */);
		min-height: 0;
		position: relative;
		overflow-y: hidden;
		overflow-x: hidden; // auto

		&:hover {
			overflow-y: scroll;
		}
	}
}

@import './_header';
@import './_content';
