@import '~timcowebapps/common.utils/src/unit/converters';
@import '~timcowebapps/common.utils/src/string/replace';
@import '~timcowebapps/common.utils/src/string/remove-whitespace';

@import '~timcowebapps/common.ooscss/src/methodology/bem/index';

@import '~timcowebapps/common.smascss.styles/src/modules/settings/index';
@import '~timcowebapps/common.smascss.styles/src/main';

@import '~timcowebapps/common.smascss.styles/src/modules/base/utilities/hidden';
@import '~timcowebapps/common.smascss.styles/src/modules/base/utilities/gapper';

@import '~timcowebapps/common.smascss.styles/src/modules/extracts/rounded';
@import '~timcowebapps/common.smascss.styles/src/modules/extracts/spacing';

@import './entry-vars';

@import '~timcowebapps/common.smascss.styles/src/modules/components/grid/grid-vars';
@import '~timcowebapps/common.smascss.styles/src/modules/components/grid/grid';

*, :after, :before {
	box-sizing: border-box;
}

body {
	color: $body-fontColor;
	font-family: $body-fontFamily;
	font-size: #{$body-fontSize};
	font-weight: 400;
	line-height: #{$body-lineHeight};
	background: $body-background;
	position: relative;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	-webkit-font-smoothing: antialiased;
}
