@import './../../../entry.scss';

.navbar {
	list-style: none;
	display: flex;
	flex-direction: row;
	padding: 0;

	@include element((), 'item') {
		&:not(:last-child) {
			margin-right: 1em;
		}
	}

	@include element((), 'item-router-link') {
		color: var(--router-link);
		font-size: 12px;
		font-weight: 800;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: .03em;

		@include modifiers(('condense': false), 'active, exact-active') {
			color: var(--router-link-active);
		}
	}
}
