@import '~timcowebapps/common.utils/src/unit/converters';
@import '~timcowebapps/common.ooscss/src/methodology/bem/index';

@import './../../../entry-vars.scss';

@import '~timcowebapps/common.smascss.styles/src/modules/base/_screensizes';
@import '~timcowebapps/common.smascss.styles/src/modules/components/grid/grid-vars';
@import '~timcowebapps/common.smascss.styles/src/modules/components/grid/grid';

.navbar {
	background-color: rgba(0, 0, 0, .04);
	padding: px_to_rem(15px, $body-fontSize) 0;

	@include element((), 'list') {
		list-style: none;
		display: flex;
		flex-direction: row;
		padding: 0;
	}

	@include element((), 'listitem') {
		&:not(:last-child) {
			margin-right: 1em;
		}
	}

	@include element((), 'listitem-router-link') {
		color: var(--router-link);
		font-size: 12px;
		font-weight: normal;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: .03em;

		@include modifiers(('condense': false), 'active, exact-active') {
			color: var(--router-link-active);
		}
	}
}
